<?xml version="1.0" encoding="utf-8"?>
<config version="2.0">
	<settings>
		<managementserver name="" />
		<outputpath name="D:\Admin\Scripts\AssignAlerts\Logs" />
		<CentralRepository connectionString="Data Source=SQL01;Initial Catalog=SCORE;Integrated Security=sspi;Application Name='Alert Automation'" />
	</settings>
	<rules>
		<rule ID="1" Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="2" Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2008.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="3" Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="4" Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="5" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="6" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2000.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="7" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2003.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="8" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2008.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="9" Name="ExchangeRule" enabled="false">
			<managementPackName>Microsoft.Exchange.2010</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="10" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2003</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="11" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2008</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="12" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="13" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2008.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="14" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="15" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="16" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="17" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="18" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Cluster.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="19" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Cluster.Management.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="20" Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2008</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="21" Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2012</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="22" Name="PKIRule" enabled="true">
			<managementPackName>SystemCenterCentral.Utilities.Certificates</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="23" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="24" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Notifications.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="25" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Apm.Infrastructure</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="26" Name="OrchestratorRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.2012.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="27" Name="SCCMRule" enabled="false">
			<managementPackName>Microsoft.SystemCenter2012.ConfigurationManager.Library</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</rule>
		<rule ID="28" Name="SCCMRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.UpdateServices.2012.R2</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</rule>
		<rule ID="29" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.HPUX.11iv2</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="30" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.HPUX.11iv3</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="31" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Solaris.10</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="32" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Solaris.11</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="33" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.AIX.6.1</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="34" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.AIX.7</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="35" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.4</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="36" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.5</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="37" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.6</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="38" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.7</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="39" Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Unix.Library</managementPackName>
			<Owner>Linux Team</Owner>
		</rule>
		<rule ID="40" Name="OperationsManagerRule" enabled="true">
			<managementPackName>SCOM2012.Maintenance.Mode.Scheduler.Monitoring</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="41" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.OperationsManager.Infra</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="42" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.ACS.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="45" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.DataWarehouse.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="46" Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.OperationsManager.DataAccessService</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="49" Name="ClusterDiskMonitoringRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.ClusterSharedVolumeMonitoring</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="51" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="52" Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2016.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="55" Name="SQL 2016 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="57" Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2008.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="58" Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="59" Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="60" Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="61" Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="62" Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="63" Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="64" Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2016</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="67" Name="OrchestratorRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.2016.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</rule>
		<rule ID="69" Name="SQL 2017 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Windows.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="70" Name="SQL 2017 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Windows.Monitoring</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="71" Name="URL Genie" enabled="true">
			<managementPackName>URLGenie</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="75" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2016.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="76" Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.Class.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="77" Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Core.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</rule>
		<rule ID="79" Name="O365" enabled="false">
			<managementPackName>Microsoft.SystemCenter.O365</managementPackName>
			<Owner>O365 Team</Owner>
		</rule>
		<rule ID="80" Name="CertificateServices" enabled="false">
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="81" Name="Windows Defender" enabled="true">
			<managementPackName>Microsoft.WindowsDefender</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="82" Name="Active Directory" enabled="true">
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="83" Name="Hyper V Services" enabled="false">
			<managementPackName>Microsoft.Windows.HyperV.Library</managementPackName>
			<Owner>Virtualization Team</Owner>
		</rule>
		<rule ID="83" Name="DNS Services" enabled="false">
			<managementPackName>Microsoft.Windows.DNSServer.2016</managementPackName>
			<Owner>Active Directory Team</Owner>
		</rule>
		<rule ID="84" Name="MSDTC" enabled="true">
			<managementPackName>Microsoft.Windows.MSDTC.2012.R2</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="85" Name="MSDTC" enabled="true">
			<managementPackName>Microsoft.Windows.MSDTC.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</rule>
		<rule ID="86" Name="SharePoint" enabled="true">
			<managementPackName>Microsoft.SharePoint.Foundation.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="87" Name="SharePoint" enabled="true">
			<managementPackName>Microsoft.SharePoint.2019.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="88" Name="SharePoint" enabled="true">
			<managementPackName>SharePointCommon</managementPackName>
			<Owner>App Support</Owner>
		</rule>
		<rule ID="89" Name="SharePoint" enabled="true">
			<managementPackName>Microsoft.SharePoint.Server.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</rule>
	</rules>
	<exceptions>
		<exception ID="1000" Name="Health Service Exception" enabled="true">
			<AlertName>Health Service Heartbeat Failure</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1001" Name="Failed to Connect Exception" enabled="true">
			<AlertName>Failed to Connect to Computer</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1002" Name="IISRule" enabled="true">
			<AlertName>Failed to perform Application Pool discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1002" Name="IISRule" enabled="true">
			<AlertName>Failed to retrieve Application Pool state</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1003" Name="IISRule" enabled="true">
			<AlertName>Failed to perform Web Server properties discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1004" Name="IISRule" enabled="true">
			<AlertName>Failed to perform Web Site discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
		<exception ID="1005" Name="PKIRule" enabled="true">
			<AlertName>Certificate lifespan alert</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty>MonitoringObjectDisplayName</AlertProperty>
			<AlertPropertyContains>rdpcert</AlertPropertyContains>
		</exception>
		<exception ID="1005" Name="IISRule" enabled="true">
			<AlertName>Failed to retrieve site state</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</exception>
	</exceptions>
</config>
