<?xml version="1.0" encoding="utf-8"?>
<Config version="2.0">
  <Settings>
    <ManagementGroup name="ABCD_OM">
      <Server name="MGR31.abcd.lcl" active="true" />
    </ManagementGroup>
    <Logging>
      <OutputPath name=".\Log" />
      <!-- Loglevel: 0=Error, 1=Warning,Error, 2=Verbose -->
      <LogLevel>2</LogLevel>
    </Logging>
    <Defaults>
      <Assigned>
        <ResolutionState>5</ResolutionState>
        <ResolutionStateName>Assigned</ResolutionStateName>
      </Assigned>
      <Unassigned>
        <DefaultOwner>Unassigned</DefaultOwner>
        <ResolutionState>5</ResolutionState>
        <ResolutionStateName>Unassigned</ResolutionStateName>
      </Unassigned>
    </Defaults>
  </Settings>
	<Rules>
		<Rule ID="1" Name="SQLRule" enabled="true">
      <Sequence>1</Sequence>
			<managementPackName>Microsoft.SQLServer.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="2" Name="SQLRule" enabled="true">
      <Sequence>2</Sequence>
			<managementPackName>Microsoft.SQLServer.2008.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="3" Name="SQLRule" enabled="true">
      <Sequence>3</Sequence>
			<managementPackName>Microsoft.SQLServer.2012.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="4" Name="SQLRule" enabled="true">
      <Sequence>4</Sequence>
			<managementPackName>Microsoft.SQLServer.2014.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="5" Name="ADRule" enabled="false">
      <Sequence>5</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="6" Name="ADRule" enabled="false">
      <Sequence>6</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.2000.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="7" Name="ADRule" enabled="false">
      <Sequence>7</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.2003.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="8" Name="ADRule" enabled="false">
      <Sequence>8</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.2008.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="9" Name="ExchangeRule" enabled="false">
      <Sequence>9</Sequence>
			<managementPackName>Microsoft.Exchange.2010</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="10" Name="WindowsRule" enabled="true">
      <Sequence>10</Sequence>
			<managementPackName>Microsoft.Windows.Server.2003</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="11" Name="WindowsRule" enabled="true">
      <Sequence>11</Sequence>
			<managementPackName>Microsoft.Windows.Server.2008</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="12" Name="WindowsRule" enabled="true">
      <Sequence>12</Sequence>
			<managementPackName>Microsoft.Windows.Server.2012</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="13" Name="WindowsRule" enabled="true">
      <Sequence>13</Sequence>
			<managementPackName>Microsoft.Windows.Server.2008.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="14" Name="WindowsRule" enabled="true">
      <Sequence>14</Sequence>
			<managementPackName>Microsoft.Windows.Server.2012.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="15" Name="WindowsRule" enabled="true">
      <Sequence>15</Sequence>
			<managementPackName>Microsoft.Windows.Server.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="16" Name="WindowsRule" enabled="true">
      <Sequence>16</Sequence>
			<managementPackName>Microsoft.Windows.Server.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="17" Name="WindowsRule" enabled="true">
      <Sequence>17</Sequence>
			<managementPackName>Microsoft.Windows.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="18" Name="WindowsRule" enabled="true">
      <Sequence>18</Sequence>
			<managementPackName>Microsoft.Windows.Cluster.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="19" Name="WindowsRule" enabled="true">
      <Sequence>19</Sequence>
			<managementPackName>Microsoft.Windows.Cluster.Management.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="20" Name="IISRule" enabled="true">
      <Sequence>20</Sequence>
			<managementPackName>Microsoft.Windows.InternetInformationServices.2008</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="21" Name="IISRule" enabled="true">
      <Sequence>21</Sequence>
			<managementPackName>Microsoft.Windows.InternetInformationServices.2012</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="22" Name="PKIRule" enabled="true">
      <Sequence>21</Sequence>
			<managementPackName>SystemCenterCentral.Utilities.Certificates</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="23" Name="OperationsManagerRule" enabled="true">
      <Sequence>23</Sequence>
			<managementPackName>Microsoft.SystemCenter.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="24" Name="OperationsManagerRule" enabled="true">
      <Sequence>24</Sequence>
			<managementPackName>Microsoft.SystemCenter.Notifications.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="25" Name="OperationsManagerRule" enabled="true">
      <Sequence>25</Sequence>
			<managementPackName>Microsoft.SystemCenter.Apm.Infrastructure</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="26" Name="OrchestratorRule" enabled="true">
      <Sequence>26</Sequence>
			<managementPackName>Microsoft.SystemCenter.2012.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="27" Name="SCCMRule" enabled="false">
      <Sequence>27</Sequence>
			<managementPackName>Microsoft.SystemCenter2012.ConfigurationManager.Library</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</Rule>
		<Rule ID="28" Name="SCCMRule" enabled="false">
      <Sequence>28</Sequence>
			<managementPackName>Microsoft.Windows.Server.UpdateServices.2012.R2</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</Rule>
		<Rule ID="29" Name="UnixRule" enabled="false">
      <Sequence>29</Sequence>
			<managementPackName>Microsoft.HPUX.11iv2</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="30" Name="UnixRule" enabled="false">
      <Sequence>30</Sequence>
			<managementPackName>Microsoft.HPUX.11iv3</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="31" Name="UnixRule" enabled="false">
      <Sequence>31</Sequence>
			<managementPackName>Microsoft.Solaris.10</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="32" Name="UnixRule" enabled="false">
      <Sequence>32</Sequence>
			<managementPackName>Microsoft.Solaris.11</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="33" Name="UnixRule" enabled="false">
      <Sequence>33</Sequence>
			<managementPackName>Microsoft.AIX.6.1</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="34" Name="UnixRule" enabled="false">
      <Sequence>34</Sequence>
			<managementPackName>Microsoft.AIX.7</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="35" Name="UnixRule" enabled="false">
      <Sequence>35</Sequence>
			<managementPackName>Microsoft.Linux.RHEL.4</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="36" Name="UnixRule" enabled="false">
      <Sequence>36</Sequence>
			<managementPackName>Microsoft.Linux.RHEL.5</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="37" Name="UnixRule" enabled="false">
      <Sequence>37</Sequence>
			<managementPackName>Microsoft.Linux.RHEL.6</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="38" Name="UnixRule" enabled="false">
      <Sequence>38</Sequence>
			<managementPackName>Microsoft.Linux.RHEL.7</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="39" Name="UnixRule" enabled="false">
      <Sequence>39</Sequence>
			<managementPackName>Microsoft.Unix.Library</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule ID="40" Name="OperationsManagerRule" enabled="true">
      <Sequence>40</Sequence>
			<managementPackName>SCOM2012.Maintenance.Mode.Scheduler.Monitoring</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="41" Name="OperationsManagerRule" enabled="true">
      <Sequence>41</Sequence>
			<managementPackName>Microsoft.SystemCenter.OperationsManager.Infra</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="42" Name="OperationsManagerRule" enabled="true">
      <Sequence>42</Sequence>
			<managementPackName>Microsoft.SystemCenter.ACS.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="45" Name="OperationsManagerRule" enabled="true">
      <Sequence>43</Sequence>
			<managementPackName>Microsoft.SystemCenter.DataWarehouse.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="46" Name="OperationsManagerRule" enabled="true">
      <Sequence>44</Sequence>
			<managementPackName>Microsoft.SystemCenter.OperationsManager.DataAccessService</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="49" Name="ClusterDiskMonitoringRule" enabled="true">
      <Sequence>45</Sequence>
			<managementPackName>Microsoft.Windows.Server.ClusterSharedVolumeMonitoring</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="51" Name="WindowsRule" enabled="true">
      <Sequence>46</Sequence>
			<managementPackName>Microsoft.Windows.Server.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="52" Name="WindowsRule" enabled="true">
      <Sequence>47</Sequence>
			<managementPackName>Microsoft.Windows.Server.2016.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="55" Name="SQL 2016 Rule" enabled="true">
      <Sequence>48</Sequence>
			<managementPackName>Microsoft.SQLServer.2016.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="57" Name="SQL Replication Rule" enabled="true">
      <Sequence>49</Sequence>
			<managementPackName>Microsoft.SQLServer.2008.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="58" Name="SQL Replication Rule" enabled="true">
      <Sequence>50</Sequence>
			<managementPackName>Microsoft.SQLServer.2012.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="59" Name="SQL Replication Rule" enabled="true">
      <Sequence>51</Sequence>
			<managementPackName>Microsoft.SQLServer.2014.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="60" Name="SQL Replication Rule" enabled="true">
      <Sequence>52</Sequence>
			<managementPackName>Microsoft.SQLServer.2016.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="61" Name="SQL AlwaysOn Rule" enabled="true">
      <Sequence>53</Sequence>
			<managementPackName>Microsoft.SQLServer.2012.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="62" Name="SQL AlwaysOn Rule" enabled="true">
      <Sequence>54</Sequence>
			<managementPackName>Microsoft.SQLServer.2014.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="63" Name="SQL AlwaysOn Rule" enabled="true">
      <Sequence>55</Sequence>
			<managementPackName>Microsoft.SQLServer.2016.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="64" Name="IISRule" enabled="true">
      <Sequence>56</Sequence>
			<managementPackName>Microsoft.Windows.InternetInformationServices.2016</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="67" Name="OrchestratorRule" enabled="true">
      <Sequence>57</Sequence>
			<managementPackName>Microsoft.SystemCenter.2016.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule ID="69" Name="SQL 2017 Rule" enabled="true">
      <Sequence>58</Sequence>
			<managementPackName>Microsoft.SQLServer.Windows.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="70" Name="SQL 2017 Rule" enabled="true">
      <Sequence>59</Sequence>
			<managementPackName>Microsoft.SQLServer.Windows.Monitoring</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="71" Name="URL Genie" enabled="true">
      <Sequence>60</Sequence>
			<managementPackName>URLGenie</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="75" Name="AD Rule" enabled="false">
      <Sequence>61</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.2016.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="76" Name="ADRule" enabled="false">
      <Sequence>62</Sequence>
			<managementPackName>Microsoft.Windows.Server.AD.Class.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="77" Name="SQL Rule" enabled="true">
      <Sequence>63</Sequence>
			<managementPackName>Microsoft.SQLServer.Core.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule ID="79" Name="O365 Rule" enabled="false">
      <Sequence>64</Sequence>
			<managementPackName>Microsoft.SystemCenter.O365</managementPackName>
			<Owner>O365 Team</Owner>
		</Rule>
		<Rule ID="80" Name="Certificate Services Rule" enabled="false">
      <Sequence>65</Sequence>
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="81" Name="Windows Defender Rule" enabled="true">
      <Sequence>66</Sequence>
			<managementPackName>Microsoft.WindowsDefender</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="82" Name="Active Directory Rule" enabled="true">
      <Sequence>67</Sequence>
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="83" Name="Hyper V Services Rule" enabled="false">
      <Sequence>68</Sequence>
			<managementPackName>Microsoft.Windows.HyperV.Library</managementPackName>
			<Owner>Virtualization Team</Owner>
		</Rule>
		<Rule ID="83" Name="DNS Services Rule" enabled="false">
      <Sequence>69</Sequence>
			<managementPackName>Microsoft.Windows.DNSServer.2016</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule ID="84" Name="MSDTC Rule" enabled="true">
      <Sequence>70</Sequence>
			<managementPackName>Microsoft.Windows.MSDTC.2012.R2</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="85" Name="MSDTC Rule" enabled="true">
      <Sequence>80</Sequence>
			<managementPackName>Microsoft.Windows.MSDTC.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule ID="86" Name="SharePoint Rule" enabled="true">
      <Sequence>81</Sequence>
			<managementPackName>Microsoft.SharePoint.Foundation.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="87" Name="SharePoint Rule" enabled="true">
      <Sequence>82</Sequence>
			<managementPackName>Microsoft.SharePoint.2019.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="88" Name="SharePoint Rule" enabled="true">
      <Sequence>83</Sequence>
			<managementPackName>SharePointCommon</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule ID="89" Name="SharePoint Rule" enabled="true">
      <Sequence>84</Sequence>
			<managementPackName>Microsoft.SharePoint.Server.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
	</Rules>
	<Exceptions>
		<Exception ID="1000" Name="Health Service Exception" enabled="true">
      <Sequence>1000</Sequence>
			<AlertName>Health Service Heartbeat Failure</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1001" Name="Failed to Connect Exception" enabled="true">
      <Sequence>1001</Sequence>
			<AlertName>Failed to Connect to Computer</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1002" Name="IIS Exception" enabled="true">
      <Sequence>1002</Sequence>
			<AlertName>Failed to perform Application Pool discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1002" Name="IIS Exception" enabled="true">
      <Sequence>1003</Sequence>
			<AlertName>Failed to retrieve Application Pool state</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1003" Name="IIS Exception" enabled="true">
      <Sequence>1004</Sequence>
			<AlertName>Failed to perform Web Server properties discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1004" Name="IIS Exception" enabled="true">
      <Sequence>1005</Sequence>
			<AlertName>Failed to perform Web Site discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
		<Exception ID="1005" Name="PKI Exception" enabled="true">
      <Sequence>1006</Sequence>
			<AlertName>Certificate lifespan alert</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty>MonitoringObjectDisplayName</AlertProperty>
			<AlertPropertyContains>rdpcert</AlertPropertyContains>
		</Exception>
		<Exception ID="1005" Name="IIS Exception" enabled="true">
      <Sequence>1007</Sequence>
			<AlertName>Failed to retrieve site state</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty></AlertProperty>
			<AlertPropertyContains></AlertPropertyContains>
		</Exception>
	</Exceptions>
</Config>
