<?xml version="1.0" encoding="utf-8"?>
<Config version="2.0">
	<Settings>
		<ManagementGroup name="ABCD_OM">
			<Server name="MGR31.abcd.lcl" active="true" />
		</ManagementGroup>
		<Logging>
			<OutputPath name=".\Log" />
			<!-- Loglevel: 0=Error, 1=Warning,Error, 2=Verbose -->
			<LogLevel>2</LogLevel>
		</Logging>
		<Defaults>
			<Assigned>
				<ResolutionState>5</ResolutionState>
				<ResolutionStateName>Assigned</ResolutionStateName>
			</Assigned>
			<Unassigned>
				<DefaultOwner>Unassigned</DefaultOwner>
				<ResolutionState>5</ResolutionState>
				<ResolutionStateName>Unassigned</ResolutionStateName>
			</Unassigned>
		</Defaults>
	</Settings>
	<Rules>
		<Rule Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2008.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQLRule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2000.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2003.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2008.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="ExchangeRule" enabled="false">
			<managementPackName>Microsoft.Exchange.2010</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2003</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2008</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2008.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Cluster.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Cluster.Management.Library</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2008</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2012</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="PKIRule" enabled="true">
			<managementPackName>SystemCenterCentral.Utilities.Certificates</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Notifications.Library</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.Apm.Infrastructure</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OrchestratorRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.2012.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="SCCMRule" enabled="false">
			<managementPackName>Microsoft.SystemCenter2012.ConfigurationManager.Library</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</Rule>
		<Rule Name="SCCMRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.UpdateServices.2012.R2</managementPackName>
			<Owner>Config Mgmt Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.HPUX.11iv2</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.HPUX.11iv3</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Solaris.10</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Solaris.11</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.AIX.6.1</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.AIX.7</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.4</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.5</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.6</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Linux.RHEL.7</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="UnixRule" enabled="false">
			<managementPackName>Microsoft.Unix.Library</managementPackName>
			<Owner>Linux Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>SCOM2012.Maintenance.Mode.Scheduler.Monitoring</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.OperationsManager.Infra</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.ACS.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.DataWarehouse.Internal</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="OperationsManagerRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.OperationsManager.DataAccessService</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="ClusterDiskMonitoringRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.ClusterSharedVolumeMonitoring</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="WindowsRule" enabled="true">
			<managementPackName>Microsoft.Windows.Server.2016.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="SQL 2016 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2008.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL Replication Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.Replication.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2012.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2014.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL AlwaysOn Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.2016.AlwaysOn.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="IISRule" enabled="true">
			<managementPackName>Microsoft.Windows.InternetInformationServices.2016</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="OrchestratorRule" enabled="true">
			<managementPackName>Microsoft.SystemCenter.2016.Orchestrator</managementPackName>
			<Owner>Monitoring Team</Owner>
		</Rule>
		<Rule Name="SQL 2017 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Windows.Discovery</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="SQL 2017 Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Windows.Monitoring</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="URL Genie" enabled="true">
			<managementPackName>URLGenie</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="AD Rule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.2016.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="ADRule" enabled="false">
			<managementPackName>Microsoft.Windows.Server.AD.Class.Library</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="SQL Rule" enabled="true">
			<managementPackName>Microsoft.SQLServer.Core.Library</managementPackName>
			<Owner>DBA Team</Owner>
		</Rule>
		<Rule Name="O365 Rule" enabled="false">
			<managementPackName>Microsoft.SystemCenter.O365</managementPackName>
			<Owner>O365 Team</Owner>
		</Rule>
		<Rule Name="Certificate Services Rule" enabled="false">
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="Windows Defender Rule" enabled="true">
			<managementPackName>Microsoft.WindowsDefender</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="Active Directory Rule" enabled="true">
			<managementPackName>Microsoft.Windows.ActiveDirectoryCertificateServices.2012.R2.Discovery</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="Hyper V Services Rule" enabled="false">
			<managementPackName>Microsoft.Windows.HyperV.Library</managementPackName>
			<Owner>Virtualization Team</Owner>
		</Rule>
		<Rule Name="DNS Services Rule" enabled="false">
			<managementPackName>Microsoft.Windows.DNSServer.2016</managementPackName>
			<Owner>Active Directory Team</Owner>
		</Rule>
		<Rule Name="MSDTC Rule" enabled="true">
			<managementPackName>Microsoft.Windows.MSDTC.2012.R2</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="MSDTC Rule" enabled="true">
			<managementPackName>Microsoft.Windows.MSDTC.2016</managementPackName>
			<Owner>Windows Team</Owner>
		</Rule>
		<Rule Name="SharePoint Rule" enabled="true">
			<managementPackName>Microsoft.SharePoint.Foundation.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="SharePoint Rule" enabled="true">
			<managementPackName>Microsoft.SharePoint.2019.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="SharePoint Rule" enabled="true">
			<managementPackName>SharePointCommon</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
		<Rule Name="SharePoint Rule" enabled="true">
			<managementPackName>Microsoft.SharePoint.Server.2013.Discovery</managementPackName>
			<Owner>App Support</Owner>
		</Rule>
	</Rules>
	<Exceptions>
		<Exception Name="Health Service Exception" enabled="true">
			<AlertName>Health Service Heartbeat Failure</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="Failed to Connect Exception" enabled="true">
			<AlertName>Failed to Connect to Computer</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="IIS Exception" enabled="true">
			<AlertName>Failed to perform Application Pool discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="IIS Exception" enabled="true">
			<AlertName>Failed to retrieve Application Pool state</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="IIS Exception" enabled="true">
			<AlertName>Failed to perform Web Server properties discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="IIS Exception" enabled="true">
			<AlertName>Failed to perform Web Site discovery</AlertName>
			<Owner>App Support</Owner>
			<AlertProperty/>
			<AlertPropertyContains/>
		</Exception>
		<Exception Name="PKI Exception" enabled="true">
			<AlertName>Certificate lifespan alert</AlertName>
			<Owner>Windows Team</Owner>
			<AlertProperty>MonitoringObjectDisplayName</AlertProperty>
			<AlertPropertyContains>rdpcert</AlertPropertyContains>
		</Exception>
		<Exception Name="Windows Exception" enabled="true">
			<managementPackName>Microsoft.Windows.Library</managementPackName>
			<Owner>EFG Windows Support</Owner>
			<AlertProperty>MonitoringObjectFullName</AlertProperty>
			<AlertPropertyContains>efg</AlertPropertyContains>
		</Exception>
    <Exception Name="Ping Exception" enabled="true">
      <managementPackName>OpsLogix.IMP.Ping</managementPackName>
      <Owner>Network Team</Owner>
      <AlertProperty>MonitoringObjectFullName</AlertProperty>
      <AlertPropertyContains>efg</AlertPropertyContains>
    </Exception>
	</Exceptions>
</Config>